<body>
    
    <header class="navbar navbar-dark bg-dark" id="barra">
        <div class="logo">
            <img src="http://jomatconsultores.com/img/logo/logo-bco.png" alt="img">
      

        </div>
        <nav>
            <a href="" class="link">Inicio</a>
            <a href="" class="link">Sitios</a>
            <a href="" class="link">Mas...</a>
            <a href="#"> <button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button></a>
        </nav>
        
    </header>
    <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
        <div class="bg-dark p-4">
          <h5 class="text-body-emphasis h4">Bienvenido</h5>
          <span class="text-body-secondary"><a href="http://jomatconsultores.com/">visita nuestro sitio oficial</a></span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
         
        </div>
      </nav>
</body>
<script>
    
</script>

